__pycache__
.vscode
myenv
instance
tgdd-img
.venv
.idea
chatbot/output_csvs
chatbot/.venv
chatbot/api_chatbot/.env
/chatbot/evaluation/
chatbot/prepare_database/chunks_product_bge.jsonl
chatbot/prepare_database/policy.jsonl
chatbot/prepare_database/chunks_policy_embedding.pkl
chatbot/prepare_database/chunks_product_bge_embedding.pkl
chatbot/prepare_database/products.csv
/chatbot/qdrant_storage/


